html, body {
    height: 100%;
    background-image: url(/img/olivie_tile.jpeg);
    scale: 50%;
    background-position: left bottom;
    background-repeat: repeat-x;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* font-family: 'Lobster', cursive; */
}

table {
    background-color: white;
    opacity: .95;
}

th {
    padding-left: 10px;
}

.btncheck {
    cursor: pointer;
}

.btnremove {
    cursor: pointer;
}

.modal-body > .modal-confirmation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1em 2em 3em 1em;
    background-color: white;
}

.main-list {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 7pt;
    border-radius: 3pt;
}